.room-history{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 20px;
    width: 461px;
    height: 300px;
    padding: 16px;
    border-radius: 8px;
    background-color: #b1b2b5;
      color: #000000;
}
.rooms{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}